/* general */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #222222;
}

/* utility */
.boxed{
    max-width: 80%;
    margin: 0 auto;
}
.dashed{
    border: 2px dashed black;
}
.flex-container{
    display: flex;
}
.bk-white{
    background-color: white;
    min-height: 400px;
    padding:30px 0;
}
.bk-gray{
    background-color: lightgray;
}
.bk-white,
.bk-gray{
   min-height: 400px;
    padding:30px 0;
}
/* header */
header{
    background-color: #ADD8E7;
    padding: 10px 0 5px; 
}
.nav-flex{
background-color: rgb(240, 188, 0);
}
.nav-logo{
width: 25%;
}
.nav-link{
width: 50%;
text-align: center;
}
.nav-login{
width: 25%;
text-align: end;
}
.nav-logo, 
.nav-link, 
.nav-login{
    padding: 1em;
}
#bk-blu{
    margin-top: 15px;
    background-color: darkblue;
    min-height: 350px;
    padding: 25px 0;

}
.pink-box{
    margin: 0 auto;
   background-color: #EF82ED;
   width: 70%;
   min-height: 300px;
}

/* main */
.big-flex-item{
background-color: #1E90FF;
height: 350px;
width: 60%;
}
.small-flex-item{
background-color: #FFC0CA;
width: 40%;
}
.green-flex-item{
    background-color: green;
    min-height: 800px;
    width: 100%;
    padding:30px 0;
}

/* footer */